<div class="flex flex-v-center flex-h-center">
  <!--
    Use ONLY css keyframes to animate the ByPrice logo svg. The animation should looks like the next video:

    https://app2.byprice.com/attachments/logo-fx.mp4

    Fork this pen and share your solution with the ByPrice team: talent@byprice.com

    NOTE: You can add or remove svg code: paths, lines, animation, etc.

    Good luck and have fun!
  -->
  <div id="ByPriceLogo" style="width: 200px; height: 200px; margin: 15px auto;">
    <svg version="1.1" id="SplashIso" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="-247 117 104.5 118" style="enable-background:new -247 117 104.5 118;"
      xml:space="preserve">
      <style type="text/css">
        .st0 {
          fill: #EB5C29;
        }

        .st1 {
          fill: #A4318A;
        }

        .st2 {
          fill: none;
          stroke: #A4318A;
          stroke-width: 5;
          stroke-miterlimit: 10;
        }

        .st2 {
          clip-path: url(#SVGID_2_);
          fill: none;
          stroke: #A4318A;
          stroke-width: 5;
          stroke-miterlimit: 10;
        }
      </style>
      <g id="iso">
        <g>
          <path id="wink" class="st0"
            d="M-175.3,177.9c-0.4,0-0.8-0.1-1.2-0.3c-5.8-3.4-11.6-0.1-11.8,0c-1.1,0.6-2.6,0.3-3.2-0.9
                  c-0.6-1.1-0.3-2.5,0.8-3.2c0.3-0.2,8.4-4.8,16.6,0c1.1,0.7,1.5,2.1,0.8,3.2C-173.8,177.4-174.5,177.9-175.3,177.9z" />
        </g>
        <g>
          <circle id="eye1" class="st1" cx="-212.3" cy="174.1" r="5" />
        </g>
        <g>
          <circle id="eye2" class="st1" cx="-183.2" cy="174.1" r="5" />
        </g>
        <g>
          <defs>
            <polygon id="SVGID_1_"
              points="-146.5,177.9 -146.5,129.7 -242.4,129.7 -242.4,223.4 -146.5,223.4 -146.5,192.5 -163.5,192.5-163.5,177.9" />
          </defs>
          <clipPath id="SVGID_2_">
            <use xlink:href="#SVGID_1_" style="overflow:visible;" />
          </clipPath>
          <circle id="circle" class="st2" cx="-196.6" cy="176" r="40.9" />
        </g>
        <path id="dimple" class="st1" d="M-155.4,195.2l-8.7-3.7c-1.2-0.5-1.8-1.9-1.3-3.2l0,0c0.5-1.2,1.9-1.8,3.2-1.3l8.7,3.7
                c1.2,0.5,1.8,1.9,1.3,3.2l0,0C-152.8,195.2-154.2,195.7-155.4,195.2z" />
      </g>
    </svg>
  </div>
</div>

<!-- User TODO React -->
<div id="UserTodo"></div>
<!-- Emd - User TODO React -->
