<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="https://app2.byprice.com/polymer/environments/development/manifest.json">
  <meta name="theme-color" content="#3f51b5"/>
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="application-name" content="ByPrice Full Snack Web Developer"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="white"/>
  <meta name="apple-mobile-web-app-title" content="ByPrice"/>
  <link rel="icon" href="https://app2.byprice.com/polymer/environments/development/images/favicon.ico">
  <link rel="apple-touch-icon" href="https://app2.byprice.com/polymer/environments/development/images/manifest/icon-48x48.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="https://app2.byprice.com/polymer/environments/development/images/manifest/icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="96x96" href="https://app2.byprice.com/polymer/environments/development/images/manifest/icon-96x96.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="https://app2.byprice.com/polymer/environments/development/images/manifest/icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="192x192" href="https://app2.byprice.com/polymer/environments/development/images/manifest/icon-192x192.png"/>
  <meta name="msapplication-TileImage" content="https://app2.byprice.com/polymer/environments/development/images/manifest/icon-144x144.png"/>
  <meta name="msapplication-TileColor" content="#3f51b5"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta name="robots" content="no index, no follow"/>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="/main.css">

</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>
  <%- body %>
  <script src="https://unpkg.com/@material-ui/core/umd/material-ui.production.min.js" crossorigin="anonymous"></script>
  <script src="/main.js"></script>
</body>

</html>
